body {
    padding: 0;
    margin: 0;
    font-family: 'Lato', serif;
    font-weight: 600;
    overflow: auto;
}

/*::-webkit-scrollbar {
    width: 0;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(255,255,255,255);
}*/

.full {
    height: 700px;
    width: 100%;
}

textarea {
    font-family: 'Lato';
}

#facecontain {
    background: white;
}

input:focus {
    outline: none;
}

select:focus {
    outline: none;
}

textarea:focus {
    outline: none;
}

#one {
    height: auto;
    border-top: 2px solid #e1e1e1;
    border-bottom: 2px solid #e1e1e1;
}

#three {
    height: auto;
}

#two {
    display: table;
}

.objWrap {
    width: 1500px;
    height: auto;
    margin: 0 auto;
}

.objOut {
    width: 50%;
    float: left;
    padding-bottom: 50px;
    font-family: 'Lato';
    font-weight: 400;
}

.objTitle {
    padding: 20px;
    text-align: center;
    color: white;
    font-size: 30px;
}

.objIn {
    background: rgba(255, 24, 24, 0.73);
    margin: 0 30px;
}

#four {
    height: auto;
}

.topWrap {
    background: url(../Images/New-York-Cityscape.png) center;
    background-size: cover;
    height: 100vh;
}

#topLanding {
    background: rgba(255, 24, 24, 0.73);
    height: 100vh;
    width: 100%;
}

.spacer {
    height: 100vh;
    width: 100%;
}

input[type=submit] {
    border: none;
    font-weight: 300;
}

#subtit {
    text-align:center; 
    font-size:30px; 
    color:white; 
    font-family:'Lato'; 
    font-weight: 300;
    line-height:25px;
}

.bar {
    position: absolute;
    top: 0;
    height: 150px;
    width: 100%;
    z-index: 1000000;
    color: white;
    background: rgba(255, 255, 255, 0.17);
}

.center {
    width: 800px;
    margin: 0 auto;
    height: 100%;
}

.navbutton {
    height: 100%;
    width: 200px;
    font-size: 20px;
    font-weight: 300;
    cursor: pointer;
    text-align: center;
    float: left;
    display: table;
}

    .navbutton:hover {
        background: rgba(225, 225, 225, 0.14);
    }

.intro {
    text-align: center;
    position: relative;
    color: white;
    font-weight: 300;
}

    .intro:before {
        content: '';
        background: rgba(255,255,255,0.85);
        height: 1px;
        right: 57%;
        position: absolute;
        top: 50%;
        width: 20px;
    }

    .intro:after {
        content: '';
        background: rgba(255,255,255,0.85);
        height: 1px;
        left: 57%;
        position: absolute;
        top: 50%;
        width: 20px;
    }

    #phone {
        background:url(../Images/blitzblockDevice.png) center no-repeat;
        background-size:contain;
    }

.expfull {
    height:auto;
    width:100%;
height:600px;
    background:#f2f2f2;
}

.expouter {
    width:1200px;
    margin:0 auto;
    height:100%;
}

.expsinglet {
    width:50%;
    float:left;
    display:table;
    text-align:center;
    height:100%;
}

.expsinglep {
    width:50%;
    float:left;
    display:table;
    height:100%;
}

.exptitle {
    font-size:40px;
    padding-bottom:10px;
}

.exptext {
    font-size:20px;
    font-weight:300;
    line-height:25px;
}

.exppicin {
    height:80%;
}

.spec {
    padding-left:40px;
}

#browser {
    background:url(../Images/Icons/MacBook-Pro-mockup.png) center no-repeat;
    background-size:contain;
}

.inpic {
    display:inline-block;
    height:25px;
    width:25px;
}

.portWrap {
    width: 100%;
    height: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    background: #f3f3f3;
}

.projWrap {
    width: 1100px;
    margin: 0 auto;
    padding: 20px;
    padding-bottom: 60px;
    padding-top: 60px;
    display: table;
}

.projInner {
    margin: 0 20px;
    cursor:pointer;
    border: 1px solid #B8B8B8;
}


.proj {
    width: 33.3333%;
    float: left;
}

.portTitle {
    text-align: center;
    padding: 20px;
    font-size: 40px;
    font-weight: 400;
}

.footer {
    font-size:20px;
    text-align:center;
    font-weight:300;
    color:white;
    display:table;
}

a {
    display: block;
    height: 100%;
    width: 100%;
}

.projcont {
    height: 300px;
}

#disco {
    background: url(../Images/Icons/placeit.png) center no-repeat;
    background-size: contain;
}

.construction {
    width:100%;
    height:100%;
    text-align:center;
    background:rgba(199, 14, 14, 0.66);
    font-size:30px;
    display:table;
    opacity:0;
    
}

.construction:hover {
    opacity:1;
}

.constext {
    display:table-cell;
    vertical-align:middle;
    font-family: 'Lato';
    font-weight:400;
    color:white;
}

#blitz {
    background: url(../Images/blitzblockDevice.png) center no-repeat;
    background-size: contain;
}

#umichtoday {
    background: url(../Images/michigantoday.png) center no-repeat;
    background-size: contain;
}

.Stick {
    position: fixed;
    background: blue;
    top: 0;
    z-index: 100;
    height: 80px;
    color: black;
    background: white;
    border-bottom: 4px solid #e1e1e1;
    -webkit-box-shadow: 0 0 10px 0 #777;
}

.outer {
    width: auto;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
    display: table;
}

.inner {
    height: auto;
    display: table-cell;
    vertical-align: middle;
}

.topOuter {
    width: auto;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
    display: table;
}

.topInner {
    height: auto;
    display: table-cell;
    vertical-align: middle;
}

.bottomRight {
    position: relative;
    height: auto;
    width: auto;
    text-align: left;
    bottom: 35px;
    left: 35px;
    font-size: 20px;
}

.textLine {
    height: 5px;
    background: black;
    position: absolute;
}

.resumeButton {
    width: 200px;
    height: 50px;
    background: rgba(255, 24, 24, 0.73);
    border-radius: 10px;
    border-bottom: 4px solid rgba(193, 20, 20, 0.73);
    margin: 0 auto;
    cursor: pointer;
    font-weight: 300;
    margin-top:24px;
    font-size: 20px;
    color: white;
}

.resumeButton:hover {
    background:rgba(255, 67, 67, 0.73);
}


#ser {
    font-size: 140px;
    line-height: 140px;
    font-family: 'Lobster', serif;
    text-shadow: 3px 3px 0 #9A1F1F;
}

#bottomgrabber {
    text-align: center;
    padding: 10px 0;
}

.bottomArrow {
    height: 40px;
    width: 100%;
    bottom: 20px;
    -webkit-filter: invert(100%);
    filter: invert(100%);
    position: absolute;
    background: url(../Images/1410649340_down4-128.png) center no-repeat;
    background-size: contain;
}

#mailTotal {
    height: auto;
    width: 1000px;
    padding-top: 50px;
    font-family: 'Lato';
}

#mailTop {
    width: auto;
    height: 50px;
    margin: 0 -15px;
    margin-bottom: 15px;
}

#mailType {
    width: auto;
    height: 50px;
    border: 1px solid #bababa;
    border-radius: 4px;
    background: white;
}

.mailSelect {
    width: 100%;
    height: 100%;
    font-size: 19px;
    color: #808080;
    border: none;
    padding: 10px;
    background: none;
}

#mailBody {
    height: 240px;
    margin-top: 15px;
    border: 1px solid #bababa;
    padding: 10px;
    border-radius: 4px;
    background: white;
}

.top {
    width: 33.333333%;
    height: 100%;
    float: left;
    position: relative;
    padding: 0 15px;
    box-sizing: border-box;
    margin-bottom: 15px;
}

.content {
    background: white;
    border: 1px solid #bababa;
    border-radius: 4px;
    height: 50px;
    box-sizing: border-box;
    padding: 10px;
}

#mailTextBody {
    width: 100%;
    text-align: left;
    background: white;
    border: none;
    height: 100%;
    font-size: 19px;
    color: #808080;
}


#sendContainer {
    height: 55px;
    margin-top: 20px;
    margin-bottom: 50px;
    width: 100%;
}

#sendButton {
    width: 160px;
    height: 100%;
    background: #31bb49;
    border-radius: 10px;
    border-bottom: 4px solid #219952;
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-size: 20px;
    font-family: 'Lato';
    font-weight: 300;
}

    #sendButton:hover {
        background: #42dd5d;
        cursor: pointer;
    }

.tabContent {
    height: 150px;
    text-align: center;
}

.headerText {
    width: 100%;
    text-align: center;
    height: auto;
    font-size: 40px;
    font-weight: 600;
}

#LangTitle {
    font-size: 40px;
    padding-top: 30px;
}

#quick {
    font-size: 36px;
}

#skills {
    display:none;
    background: #f1f1f1;
    border-bottom: 2px solid #e1e1e1;
    font-family: 'Effra';
}

.skillsection {
    width: auto;
    margin: 0 150px;
}

.skilltitle {
    font-size: 50px;
    text-align: center;
    font-family: 'Lato';
    font-weight: 300;
    padding: 30px;
}

#skillsTitle {
    font-size: 40px;
    padding-top: 30px;
    background: white;
}

.skilltext {
    width: 1000px;
    margin: 0 auto;
    height: auto;
    display: table;
    padding: 30px;
    border: 1px solid #a8a8a8;
}

#ContactText {
    padding-top: 30px;
}



.textDescription {
    font-size: 25px;
    padding: 15px;
    width: 500px;
    margin: 0 auto;
    font-family: 'Lato';
    color: black;
    text-align: center;
    font-weight:300;
    padding-top: 5px;
    border-bottom: 1px solid #e1e1e1;
}

.mailText {
    width: 100%;
    font-size: 19px;
    color: #808080;
    display: block;
    border: none;
    height: 100%;
}

#buttonContainer {
    font-size: 20px;
    text-align: center;
}

/*style="background:#8F6852"; BRONXE*/

#rails {
    background: url(../Images/html5.png) no-repeat center;
    background-size: contain;
    height: 100%;
}

#jquery {
    background: url(../Images/jqicon.png) no-repeat center;
    background-size: contain;
    height: 100%;
}

#html {
    background: url(../Images/html5.png) no-repeat center;
    background-size: contain;
}

#css {
    background: url(../Images/css3.png) no-repeat center;
    background-size: contain;
}

#angular {
    background: url(../Images/angularjs.png) no-repeat center;
    background-size: contain;
    height: 100%;
}

#express {
    background: url(../Images/Icons/expressjs.png) no-repeat center;
    background-size: contain;
}

#node {
    background: url(../Images/Icons/nodejs.png) no-repeat center;
    background-size: contain;
}

#MongoDB {
    background: url(../Images/Icons/mongodbicon.png) no-repeat center;
    background-size: contain;
}

.footer {
    height: 100px;
    width: 100%;
    background: #464646;
}

#facepicContainer {
    width: 100%;
    float: left;
    position: relative;
}

#descriptionContainer {
    width: 100%;
    float: left;
    position: relative;
    border-right: -1px solid #797979;
}

#facepic {
    height: auto;
    background: white;
}

#description {
    height: auto;
    padding-top: 9px;
}

.aboutContainer {
    width: 100%;
    display: table;
    padding-top: 60px;
    padding-bottom: 60px;
}

.face {
    height: 300px;
    width: 300px;
    background: url(../Images/DanProf.jpg) top no-repeat;
    background-size: cover;
    border-radius: 269px;
}

.bignred {
    font-weight: 400;
}

#textBacker {
    font-size: 24px;
    color: #000000;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    font-weight: 300;
    width: 612px;
    margin: 0 auto;
}

.box {
    width: 200px;
    height: 115px;
    position: relative;
    float: left;
    margin: 37px 8px;
    border-radius: 10px;
}

.contain {
    margin: 0 auto;
    height: auto;
    display: table;
}

.spinblock {
    position: absolute;
    width: 100%;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
    left: 0;
    right: 0;
    background: black;
}

.innerIcon {
    position: relative;
    width: 100px;
    height: 115px;
}

.socialWrap {
    margin: 70px 0 90px 0;
}

#LinkedIn {
    background: url(../Images/Icons/linkedin.png) no-repeat;
    background-size: contain;
}

.linked {
    background: rgb(1,115,178);
}

#SoundCloud {
    background: url(../Images/Icons/soundcloud.png) no-repeat;
    background-size: contain;
}

.sound {
    background: #f75e0e;
}

#YouTube {
    background: url(../Images/Icons/hangouts.png) no-repeat;
    background-size: contain;
}

.you {
    background: #61ba46;
}

#Instagram {
    background: url(../Images/Icons/instagram.png) no-repeat;
    background-size: contain;
}

.insta {
    background: #517fa4;
}

#Facebook {
    background: url(../Images/Icons/facebook500.png) no-repeat;
    background-size: contain;
}

.facebook {
    background: #3c5b9b;
}

#Twitter {
    background: url(../Images/Icons/twitter.png) no-repeat;
    background-size: contain;
}

.twitter {
    background: #2daae1;
}

#Pinterest {
    background: url(../Images/Icons/pinterest.png) no-repeat;
    background-size: contain;
}

.pint {
    background: #cb2027;
}

#JsFiddle {
    background: url(../Images/Icons/jsfiddle.png) no-repeat;
    background-size: contain;
    border-radius: 42px;
}

.jsfiddle {
    background: #3d6aa2;
}

#GitHub {
    background: url(../Images/Icons/github.png) no-repeat;
    background-size: contain;
}

.git {
    background: #201f1f;
}

#Stack {
    background: url(../Images/Icons/stackoverflow.png) no-repeat;
    background-size: contain;
}

.stack {
    background: #fe7a15;
}


#md {
    -webkit-transform: rotate(120deg);
    -moz-transform: rotate(120deg);
    -ms-transform: rotate(120deg);
    transform: rotate(120deg);
}

#bt {
    -webkit-transform: rotate(240deg);
    -moz-transform: rotate(240deg);
    -ms-transform: rotate(240deg);
    transform: rotate(240deg);
}

.box:hover {
    margin-top: 30px;
    cursor: pointer;
}

.skillsTab {
        width:25%;
        float:left;
    }

@media (max-width: 1200px) {
    .skillsInner {
        width: 900px;
    }

    .intro:before {
        right: 60%;
    }


    .intro:after {
        left: 60%;
    }

    .projWrap {
        width: 900px;
    }

    .projcont {
        height: 250px;
    }

    .skillsection {
        width: 900px;
                margin: 0 auto;

    }

    .skilltext {
        width: 740px;
    }

    #mailTotal {
        width: 800px;
    }

    .LogoText {
        font-size: 25px;
    }

    #ser {
        font-size: 100px;
        line-height: 100px;
    }

    .linksContain {
        height: 50px;
    }

    .links {
        font-size: 28px;
    }

    #Logo {
        margin-left: 10px;
        width: auto;
        display: none;
    }

    #rightIcon {
        margin-right: 10px;
    }

    .skillsTab {
        font-size: 30px;
    }
}

@media (max-width: 1000px) {

    .bar {
        display:none;
    }

    .proj {
        width:50%;
        padding-bottom:30px;
    }

    .projWrap {
        width:600px;
    }

    .box {
        height: 63px;
        width: 110px;
        margin: 23px 8px;
    }

    .textDescription {
        
        padding: 15px 0;
        width: 100%;
        font-size: 18px;
    }

    .box:hover {
        margin-top: 15px;
    }

    .innerIcon {
        width: 63px;
    }

    #ser {
        font-size: 85px;
    }

    .linksContain {
        height: 50px;
    }

    #topNavBar {
        width: 80px;
    }

    .links {
        font-size: 28px;
    }

    #rightIcon {
        margin-right: 0px;
    }

    .container {
        padding: 0 0 20px 0;
    }


    #menuIcon {
        display: table;
    }

    #mailTotal {
        width: 600px;
    }

    #dev #des #eng {
        line-height: 45px;
        font-size: 55px;
    }

    .skillsTab {
       
    }

    .skillsInner {
        width: 700px;
    }

    .aboutContainer {
        border-top: none;
    }

    .tabContent {
        height:auto;
    }

    .tabInner {
        height: 150px;
    }

    #facepicContainer {
        width: 100%;
    }

    #descriptionContainer {
        width: 100%;
    }

    #firstName {
        width: 50%;
        padding-right: 8px;
    }

    #lastName {
        width: 50%;
        padding-left: 8px;
    }

    #mailTop {
        display: table;
        margin-bottom: 0;
    }

    #emailHold {
        width: 100%;
    }
}

@media (max-width: 750px) {
    .skillsInner {
        width: 600px;
    }

    .tabInner {
        height: 300px;
    }

    .tabContent {
        height: 300px;
    }

    .tabBottom {
        height: 300px;
    }
}


@media (max-width: 650px) {

    .textDescription {
        font-size: 16px;
    }

    #textBacker {
        font-size: 19px;
    }

    #ser {
        font-size: 60px;
    }

    .aboutContainer {
        width: 100%;
    }

    .linksContain {
        height: 40px;
    }

    .menu {
        height: 70px;
    }

    .links {
        font-size: 22px;
    }

    .skillsInner {
        width: auto;
        margin-left: 20px;
        margin-right: 20px;
    }

    #facecontain {
        background: none;
    }

    #skillsOuter {
        width: auto;
        height: 100%;
        margin-right: auto;
        margin-left: auto;
        display: table;
    }


    .inner {
        padding: 0 30px;
    }

    .top {
        width: 100%;
    }

    #mailTotal {
        width: 100%;
        height: auto;
    }

    #mailTop {
        display: table;
        margin-bottom: 0;
    }

    .outer {
        width: 100%;
        margin: 0;
    }

    #sendButton {
        width: 100%;
    }

    .face {
        width: 100%;
    }

    .skillsInner {
        width: auto;
        margin-left: 0px;
        margin-right: 0px;
    }

    .inner {
        padding: 0 10px;
    }

    #firstName {
        width: 100%;
        padding: 0 15px;
    }

    #lastName {
        width: 100%;
        padding: 0 15px;
    }
}

@media (max-width: 550px) {
    .skillsTab {
        width: 100%;
    }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 568px) {

    #ser {
        font-size: 50px;
        line-height: 50px;
    }

    #subtit {
        font-size:20px;
        line-height:20px;
    }

    .resumeButton {
        margin-bottom:30px;
    }

    .projWrap {
        padding: 0;
        width:100%;
    }

    .proj {
        width:100%;
    }

    .face {
        width:200px;
        margin:0 auto;
        height:200px;
    }

    .expfull {
        height:auto;
        padding-top:30px;
        padding-bottom:30px;
        display:table;
    }

    .exptitle {
        font-size:30px;
        text-align:center;
    }

    .expouter {
        width:100%;
    }

    .expsinglep {
        width:100%;
        height:150px;
    }

    .exptext {
        text-align:center;
    }

    .expsinglet {
        width:100%;
    }

    .linksContain {
        height: 25px;
    }

    #skillsTitle {
        font-size: 36px;
    }

    #LangTitle {
        font-size: 36px;
    }

    #aboutTitle {
        font-size: 36px;
    }

    .links {
        font-size: 19px;
    }

    .skillsInner {
        width: auto;
        margin-left: 0px;
        margin-right: 0px;
    }

    #FullName {
        display: normal;
    }

    #mailTop {
        margin: 0;
    }

    .top {
        padding: 0;
    }

    .skillsTab {
        width: 100%;
    }

    .inner {
        width: 100%;
        padding: 0 10px;
    }


    .tabInner {
        padding: 0 5px;
    }


    .top {
        width: 100%;
    }

    #mailTotal {
        width: 100%;
        height: auto;
    }

    #firstName {
        padding: 0;
    }

    #bt {
        display: none;
    }

    #md {
        display: none;
    }

    .box:hover {
        margin-top: initial;
    }

    .spinblock {
        height: 70px;
    }

    #textBacker {
        width: auto;
    }

    .bar {
        display: none;
    }


    .box {
        margin: 0;
        width: 100%;
        height: 70px;
    }

    .contain {
        margin: 0;
        width: 100%;
        display: normal;
    }

    .socialWrap {
        margin: 10px 0 10px 0;
    }

    #lastName {
        padding: 0;
    }

    #description {
        height: auto;
    }

    #mailTop {
        display: table;
        margin-bottom: 0;
    }

    .outer {
        width: 100%;
        margin: 0;
    }

    #sendButton {
        width: 100%;
    }

    .links {
        font-size: 16px;
    }

    #dev {
        font-size: 10px;
    }

    #eng {
        font-size: 10px;
    }

    #des {
        font-size: 10px;
    }

    .menu {
        height: 82px;
    }

    .centerMiddle {
        height: 80px;
    }

    .aboutContainer {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    #description {
        padding-top: 5px;
    }

    .intro:before {
        right:68%;
        width:10px;
    }

    .intro:after {
        left: 68%;
        width:10px;

    }
}
